%h1.mercury-region#page_title{:'data-mercury' => "simple"} #{raw @page.title}

%div.mercury-region#page_content{:'data-mercury' => "full"}
  = raw @page.content

%br
%br
= link_to "Edit this Page", "/editor" + request.path, id: "edit_link", data: { save_url: [:admin, @product, @page] }
