%table
  %tr
    %th Name
    %th Email
    %th Referrer
    %th From Facebook

  - @subscribers.each do |subscriber|
    %tr
      %td= subscriber.name
      %td= subscriber.email
      %td= subscriber.lists.first.affiliate.name unless subscriber.lists.empty? || subscriber.lists.first.affiliate.nil?
      %td= subscriber.lists.first.is_fb unless subscriber.lists.empty?
