%table
  %tr
    %th Name
    %th Email
    %th Referrer

  - @subscribers.each do |subscriber|
    %tr
      %td= subscriber.name
      %td= subscriber.email
      %td= subscriber.lists.first.affiliate.name if subscriber.lists.first.affiliate
