%h1 #{ @campaign.name }
%h3 Steps:
%ol
  - @steps.each do |step|
    %li
      %strong MadMIMI Promotion Name:
      = step.promotion_name
    %ul
      %li
        %strong Page:
        = link_to step.page.title, [:admin, @campaign, step.page]
      %li
        %strong Page Link:
        %em= step.page.link_code
