#page_title
  padding: 20px

.flash
  position: relative
  margin: 10px 0
  padding: 10px
  text-align: center
  border: 1px solid
  color: #222 !important

  // http://www.colourlovers.com/palette/17474/system_messages
  // http://www.colourlovers.com/palette/17483/dark_system_messages

  &.info, &.notice
    border-color: #1E72A6
    background-color: #94D6FF

  &.success
    border-color: #1EA635
    background-color: #94FFA6

  &.warning, &.alert
    border-color: #A6A11E
    background-color: #FFFB94
    // border-color: #A66F1B
    // background-color: #FFCE83

  &.error
    border-color: #A63232
    background-color: #FF9494

table
  width: 100%
  th
    text-align: left
  td
    padding: 5px 1%
  tr
    &:nth-child(2n)
      background-color: rgba(0,0,0,0.2)

nav#inline_nav
  ul
    font: bold 12px/25px  Helvetica, Arial, Sans-serif
    padding: 0
    list-style: none
    li
      float: left
      color: #c5c4c4
      margin-right: 10px
      a:link, a:visited
        color: #c5c4c4
      a:hover, a:active
        color: #17a231

#yield
  h1
    font-size: 200%
  h2
    font-size: 175%
  ol, ul
    margin-left: 25px
    li
      line-height: 1.5
      margin-top: .25em

#top_region, #bottom_region
  margin-top: 10px
  margin-bottom: 10px

.main
  padding: 10px 5px
  width: 630px !important

.sidebar
  background: #f7bd31
  padding: 10px 5px
  width: 270px !important

  h1
    font-family: 'Dosis', sans-serif
    font-weight: 800
    line-height: 43px
    color: #fff
    font-size: 43px
    span
      font-weight: 200
  hr
    display: block
    margin: 20px 0px
    border-bottom: 0px
    border-top: 1px solid #fff

  h3
    font-size: 20px
    color: #fff6b8
    font-weight: 400

