.grid_16#thirdrow
  .grid_11.alpha
    .mercury-region#region_one{:'data-mercury' => "full"}
      = raw @static_page.region1

  .grid_5.omega#topsignup
    %h1<
      Retire young
      %span and
      retire rich
    %hr
    %h3 Sign up now!
    = render "subscribers/form"

.clear

.grid_16#intro
  %p.mercury-region#region_two{:'data-mercury' => "full"}
    =raw @static_page.region2

.clear

.grid_4
  %p.mercury-region#region_three{:'data-mercury' => "simple"}
    =raw @static_page.region3
.grid_6
  %p.mercury-region#region_four{:'data-mercury' => "simple"}
    =raw @static_page.region4
.grid_6#news
  %p.mercury-region#region_five{:'data-mercury' => "simple"}
    =raw @static_page.region5

.clear

.grid_16#bottomcontent
  = link_to "Edit this Page", "/editor" + request.path, id: "edit_link", data: { save_url: [:admin, @static_page] }
