%h1= @page.title
= raw @page.content

/
  :plain
    <iframe width="640" height="360" src="http://www.youtube.com/embed/uP4nRTTfXqo?autoplay=#{Rails.env.production? ? 1 : 0}&controls=0" frameborder="0" allowfullscreen></iframe>

- content_for :aside do
  = render "subscribers/form"

