%h1= @product
:plain
  <iframe width="640" height="360" src="http://www.youtube.com/embed/uP4nRTTfXqo?autoplay=1&controls=0" frameborder="0" allowfullscreen></iframe>

- content_for :aside do
  = render "subscribers/form"

